 
 /* header ci dessous  */
 
 
 *{
    margin: 0;
    padding: 0;
}

header{
    height: 125px;
    width:100%;
    background-image: linear-gradient(#9bcedfbe,#ffab6bc2);
    justify-content: space-around;
    display: flex;
    align-items: center;
}


.img_logo img{
    width: 170px;
    height: 170px;
    float: left; 
}

.nav_head {
    width: min-content(100px); 
}

.nav_head img {
    width: 80px;
    height: 80px;
}

.menu-hamburger {
    display: none;
}

.ul_head ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Sansita';
    font-size: 230%;
    align-items: center;
}

.text_ul_head{
    padding-left: 1rem;
    padding-right: 1rem;
}

.ul_head a{
    text-decoration: none;
}



@media screen and (max-width: 720px) {

    header {
        position: fixed;
        z-index: 2795;
    }

    .nav_head{
        margin: 0;
        padding: 0;
    }

    .img_logo img{
        left: 10px;
    }

    .ul_head {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.233);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 200vh; 
        top: 100px;
        display: flex;
        align-items: center;
        margin-left: -200%;
        transition: all 0.5s ease;
        z-index: 3;
        margin-top: 25px;
        justify-content: space-around;
        /* font-size: 200%; */
        font-size:100%;
        
    }
    
    .ul_head.mobile-menu {
        margin-left: 0;
        position: absolute;
        left: 0;
    }


    .ul_head ul {
        display: flex;
        flex-direction: column;
        height: 200vh;
        
        
        align-items: flex-end;
        justify-content: flex-start;
        margin-right: -150px;
    }

    .menu-hamburger {
        display: block;
        margin: 0;
        position: absolute;
        z-index: 3500;
        width: 80px;
        right: 0;
    }
}



 @media screen and (max-width: 900px){
    .text_ul_head{
        font-size: 70%;
    }
}

/* 
.box_titre{
    width: 600px;
    height: 80px;
    justify-content: center;
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#FFC978, #e900004d);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295);
    
}

.promo_titre h2{
    font-family: 'Sansita';
    font-size: 250%;
    justify-content: center;
    
    
}

.flex_main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */


 
 /* CSS de la page4 : contact + formulaire  */
 
 *{
    font-family:Sansita;
}

.htmlessay{
    gap:40px;
    display:flex;
    justify-content:center;
    margin-top:20px;
    margin-bottom:70px;
    box-sizing: border-box;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    
}

 /* partie gauche :  */

.lefthtml{
    width:50%;
    padding:30px;
    box-shadow:4px 6px 4px 0px rgba(0,0,0,0.25);
    background: rgb(186,238,255);
    background: linear-gradient(180deg, rgba(186,238,255,1) 0%, rgba(235,177,72,0.05) 75%, rgba(255,153,0,0.41789215686274506) 100%);
    display:flex;
    align-items:center;
    flex-direction:column;
    font-size:15px;
}

h1{
    margin-left:-300px;
    margin-bottom:30px;
    background:linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .3s; 
}

h1:hover{
    background-size: 100% 100%;
}

.futur-flex{
    display:flex;
    justify-content:space-around;
    width:100%;
}

.adress{
    margin-top:25px;
}

.tel{
    margin-top:35px;
}

.lien{
    margin-top:35px;
}

.lien:hover{
    text-decoration: underline;
    cursor: pointer;
}


.lefthtml .bibibi{
    display:flex;
    justify-content:space-around;
    margin-top:25px;
    gap: 10rem;
}

.bibibi:hover{
    cursor: pointer;
    text-decoration: underline;
}

.bibibi p:hover{
    transform:scale(1.1, 1.1);
    color:black;
}

/* partie droite : */

.righthtml h2{
    text-align:center;
}

.righthtml{
    display:flex;
    align-items:center;
    flex-direction:column;
     width:50%;
     background: rgb(186,238,255);
    background: linear-gradient(180deg, rgba(186,238,255,1) 0%, rgba(235,177,72,0.05) 75%, rgba(255,153,0,0.41789215686274506) 100%);
    box-shadow:4px 6px 4px 0px rgba(0,0,0,0.25);
    padding: 30px;
    font-size:15px;
}

h2{
    background:linear-gradient(to top, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .3s;
}

h2:hover{
    background-size: 100% 100%;
}

#formu{
    margin:0 auto;
}

#formu div{
    display:flex;
    justify-content: center;
    flex-direction:column;
    margin-top:30px;
    margin-left:-20px;
    border:none;
    border-radius:4px;
    width:150%;
}

#area{
    margin-top:35px;
}

#formu label{
    margin-bottom:3px;
}

form div:last-child{
    margin-top:30px;
}

form div:hover{
    opacity:0.7;
}

form div:last-child:hover{
    opacity:1;
}

input{
    background: rgb(254,157,157);
    background: linear-gradient(180deg, rgba(254,157,157,0.5019257703081232) 0%, rgba(254,157,157,0.5047268907563025) 100%);
}

textarea{
    background: rgb(254,157,157);
    background: linear-gradient(180deg, rgba(254,157,157,0.5019257703081232) 0%, rgba(254,157,157,0.5047268907563025) 100%);
}

button{
    background:rgb(13, 78, 220);
    border-radius:4px;
    color:white;
}

.button :hover{
    transform: scale(1.1, 1.1);
}

@media screen and (max-width:1200px){
    h1{
        margin-left:-200px;
    }

    .lefthtml .bibibi{
        gap: 8rem;
    }
}
 
@media screen and (max-width:950px){

    .futur-flex{
        display:block;
    }

    h1{
        text-align:center;
    }

    .left1{
        text-align:center;
    }

    .diviframe{
        display:flex;
        justify-content: center;
    }

    h1{
        margin-left:0px;
    }

    .lefthtml .bibibi{
        gap: 3rem;
    }

    #formu div{
         margin-top:50px;
     }
} 


@media screen and (max-width:720px){

    .htmlessay{
        margin-top:100px;
    }
}

@media screen and (max-width:700px){

    .bibibi{
         display:flex;
        flex-direction: column;
        text-align:center;
    }

    .htmlessay{
        display:flex;
        flex-direction: column;
        margin-top:100px;
    }

    .lefthtml{
        margin-bottom:30px;
        margin:0 auto;
    }

    .righthtml{
        margin:0 auto;
    }

    #formu div{
       width:130%;
        margin-top:50px;
    }

    h1{
        margin-left:0px;
    }

}

@media (max-width:600px){
    .righthtml{
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lefthtml{
        width:100%;
    }

    h1{
        margin-left:0px;
    }

}

 /* FIN du CSS de la page4 : contact + formulaire  */

 /* footer ci dessous : */

 footer{
    background-image: linear-gradient(#ff99007c, #efad3c5b, #f0ad3965, #f1bd5588, #F7F9B8);
    width: 100%;
    min-height: 85px;
    height:auto;
    margin-top: auto;
}

.list_foot {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Sansita';
    font-size: 180%;
    margin-top: 30px;
}

.list_foot li {
    margin-top: 30px;
}

.list_foot2{
    display:flex;
    justify-content:space-around;
    width: 100%;
    list-style-type: none;
    margin-bottom:0rem;
} 

.list_foot2 img{
    margin-right:5px;
}

@media screen and (max-width:1200px){
    .list_foot{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 980px) {

.list_foot{
        font-size: 1.3rem;
    }
}

.list_foot2{
    flex-wrap:wrap;
}


@media screen and (max-width: 850px) {

.list_foot{
        font-size: 1.5rem;
        padding-left:0rem;
        flex-wrap: wrap;
    }

    .list_foot a{
        margin:20px;
    }
} 

@media screen and (max-width:650px){
    .list_foot{
        flex-wrap: wrap;
        height:auto;
    }
}

@media screen and (max-width:400px){
    .list_foot li a{
        font-size:1.5rem;
        align-items: center;
    }

        .list_foot{
            display:block;
            flex-direction:column;
            text-align:center;
    
}

}

/* fin du footer ci dessus  */