@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* CSS pour les 20 % */
html, body {
    width: fit-content;
    height: fit-content;
}

section {
   margin-top: 5%;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pub {
    margin: auto;
    width: 80%;
    height: 20rem;
    background: url('./ressources/index/Rectangle\ 18.svg'), #B2B2B2;
    background-size: cover;
    background-position: 20%;
    background-attachment: inherit;
    display: flex;
    flex-direction: column;
    align-items:last baseline;
    justify-content: center;
}

.top-click {
font-family: 'Sansita';
font-style: normal;
font-weight: 400;
font-size: 40px;
width: 30%;
text-align: center;
color: #E70404;

margin-right: 2%;
}
.link__pub {
    text-decoration: none;
    font-style: normal;
    font-family: 'Sansita';
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    background-color: #FF3D00;
    border-radius: 50px;
    padding: 12px 20px;
    min-width: 30%;

   
    
}

@media screen and (max-width: 1085px) {
    .top-click {
          font-size: 30px;
    }
    #pub {
        background-position: 35%;
    }
}

@media screen and (max-width: 648px) {
    .top-click {
        width: 45%;
    }
}

/* CSS pour la partie description de l'Agence */

#logo_mond {
    display: block;
    margin: auto;
}

.bg-blabla {
    width: 80%;
    background-image: url('./ressources/index/sunset.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 19%;
    margin: auto;
    border-radius: 5px;

}

.blabla {
    padding: 3rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 23px;
    text-align: justify;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.95);
    color: #FFF1F1;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.25), 1px -1px 0 rgba(0, 0, 0, 0.25), -1px 1px 0 rgba(0, 0, 0, 0.25), 1px 1px 0 rgba(0, 0, 0, 0.25);
    
}

.flex-text {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
   
}

ul {
    list-style: inside;
    
}

.blabla-under {
    text-decoration: underline;
}

@media screen and (max-width: 502px) {
    h1 {
        font-size: 3.5rem;
    }
}

/* CSS pour les Avis */

.avis-bg {
    padding: 4rem;
    width: 20rem;
    margin: 2rem;
    background: linear-gradient(180deg, rgba(233, 241, 142, 0.53) 7.29%, rgba(251, 255, 0, 0.33) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    max-height: 40rem;
    
}

.img_index {
   display: block;
   width: 10rem;
   height: 10rem;
   border-radius: 50%;
   object-fit: scale-down cover;
}

.desc-avis {
    font-family: 'Roboto';
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.nom-avis {
    font-family: 'Sansita';
    font-weight: 550;
    font-size: 22px;
}

.avis {
    margin: auto;
    justify-content: center;
    width: 80%;
    display: grid;
    grid-template-columns: 23rem 23rem 23rem 23rem 23rem;
    gap: 2rem;
}

@media screen and (max-width: 1629px) {
    .avis {
        grid-template-columns: 23rem 23rem 23rem;
        
    }
}

@media screen and (max-width: 1430px) {
    .avis {
        grid-template-columns: 23rem 23rem;
    }
}

@media screen and (max-width: 928px) {
    .avis {
        grid-template-columns: 23rem;
    }
}

/* CSS DE HEADER ET FOOTER */

*{
    margin: 0;
    padding: 0;
}

header{
    height: 125px;
    width:100%;
    background-image: linear-gradient(#9bcedfbe,#ffab6bc2);
    justify-content: space-around;
    display: flex;
    align-items: center;
    z-index: 1000;
}


.img_logo img{
    width: 170px;
    height: 170px;
    float: left;
    
    
}

.nav_head {
    width: min-content(100px);
    
}

.nav_head img {
    width: 80px;
    height: 80px;
    
    
}

.menu-hamburger {
    display: none;
}

.ul_head ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Sansita';
    /* font-size: 230%; */
    font-size:150%;
    align-items: center;
    
}

.text_ul_head{
    padding-left: 1rem;
    padding-right: 1rem;
}

.ul_head a{
    text-decoration: none;
}



*{
    margin: 0;
    padding: 0;
}

header{
    height: 125px;
    width:100%;
    background-image: linear-gradient(#9bcedfbe,#ffab6bc2);
    justify-content: space-around;
    display: flex;
    align-items: center;
    z-index: 1000;
}


.img_logo img{
    width: 170px;
    height: 170px;
    float: left;
    
    
}

.nav_head {
    width: min-content(100px);
    
}

.nav_head img {
    width: 80px;
    height: 80px;
}

.menu-hamburger {
    display: none;
}

.ul_head ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Sansita';
    /* font-size: 230%; */
    font-size:150%;
    
    align-items: center;
    
}

.text_ul_head{
    padding-left: 1rem;
    padding-right: 1rem;
}

.ul_head a{
    text-decoration: none;
}



@media screen and (max-width: 720px) {


    header {
        position: fixed;
        z-index: 4795;
    }

    .nav_head{
        margin: 0;
        padding: 0;
    }

    .img_logo img{
        left: 10px;
    }

    .ul_head {
        position: fixed;
        background-color: rgba(255, 255, 255, 0.233);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 200vh; 
        top: 100px;
        display: flex;
        align-items: center;
        margin-left: -200%;
        transition: all 0.5s ease;
        z-index: 3100;
        margin-top: 25px;
        justify-content: space-around;
        font-size: 200%;
        
    }
    

    .ul_head.mobile-menu {
        margin-left: 0;
        position: absolute;
        left: 0;
    }

    .ul_head ul {
        display: flex;
        flex-direction: column;
        height: 200vh;
        
        
        align-items: flex-end;
        justify-content: flex-start;
        margin-right: -150px;
    }

    .menu-hamburger {
        display: block;
        margin: 0;
        position: absolute;
        z-index: 3500;
        width: 80px;
        right: 0;
    }
} 


/* footer ci dessous : */

 footer{
    background-image: linear-gradient(#ff99007c, #efad3c5b, #f0ad3965, #f1bd5588, #F7F9B8);
    width: 100%;
    min-height: 85px;
    height:auto;
    margin-top: auto;
}

.list_foot {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Sansita';
    font-size: 180%;
    margin-top: 30px;
}

.list_foot li {
    margin-top: 30px;
}

.list_foot2{
    display:flex;
    justify-content:space-around;
    width: 100%;
    list-style-type: none;
    margin-bottom:0rem;
} 

.list_foot2 img{
    margin-right:5px;
}

@media screen and (max-width:1200px){
    .list_foot{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 980px) {

.list_foot{
        font-size: 1.3rem;
    }
}

.list_foot2{
    flex-wrap:wrap;
}


@media screen and (max-width: 850px) {

.list_foot{
        font-size: 1.5rem;
        padding-left:0rem;
        flex-wrap: wrap;
    }

    .list_foot a{
        margin:20px;
    }
} 

@media screen and (max-width:650px){
    .list_foot{
        flex-wrap: wrap;
        height:auto;
    }
}

@media screen and (max-width:400px){
    .list_foot li a{
        font-size:1.5rem;
        align-items: center;
    }

        .list_foot{
            display:block;
            flex-direction:column;
            text-align:center;
    
}

}

/* fin du footer ci dessus  */

/* CSS Caroussel */

.carousel-inner img{
    width:100%;
    height: 450px;
    object-fit: cover;
}



#carouselExampleCaptions {
margin-top: -48px;
}

#dest {
    position: absolute;
    z-index: 1;
    width: 30em;
    top: 5%;
}

@media screen and (max-width: 720px) {

    #carouselExampleCaptions {
        margin-top: 77px;
        }

    #dest {
width:  20em;

    }

}